header {
  .container {
    background-color: black;
    color: white;
    text-align: center;
    h1 {
      span {
        color: #2ab391;
      }
    }
  }

  nav {
    background-color: #3f3d3d;
    margin: 0 auto;
    ul {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      gap: 35px;

      li {
        list-style: none;
        a {
          color: white;
          text-decoration: none;
          transition: all .3s;
          font-size: 20px;
          font-weight: 500;
          &:hover {
            color: #2ab391;
          }
        }
      }
    }
  }
}